[Unit]
Description=Bone Health Tracker
ConditionPathExists=/home/ubuntu/bonehealthtracker
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
AmbientCapabilities=CAP_NET_BIND_SERVICE

Restart=always
RestartSec=10
StartLimitInterval=60
Environment="FRAG_ENV=production"

LimitNOFILE=1024

WorkingDirectory=/home/ubuntu/bonehealthtracker
ExecStart=/home/ubuntu/bonehealthtracker/bonehealthtracker

PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bonehealthtracker


[Install]
WantedBy=multi-user.target