[Unit]
Description=Gunicorn
ConditionPathExists=/home/ubuntu/bonehealthtracker
After=network.target

[Service]
Type=notify
User=ubuntu
Group=ubuntu

RuntimeDirectory=gunicorn
WorkingDirectory=/home/ubuntu/bonehealthtracker
ExecStart=/usr/bin/gunicorn --workers 2 --preload --worker-class=uvicorn.workers.UvicornWorker main:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gunicorn


[Install]
WantedBy=multi-user.target